# OS
.DS_Store
Thumbs.db
node_modules/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# C/C++
*.o
*.obj
*.exe
*.dll
*.so

# Java
*.class
*.jar
*.war
*.ear

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env/

# Environment Variables
.env
!.env.example

# Docker
docker-compose.override.yml
